# Server
DATABASE_URL=
RPC_URL=
WORKER_URL=
WORKER_TOKEN=
# Browser
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_ROUTER_NETWORK=
NEXT_PUBLIC_REPO_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_VIDEO_URL=
NEXT_PUBLIC_DECK_URL=
